body {
    background-color: #F4F8FC;
}

@media(max-width: 1024px) {

    .carousel {
        height: 100%;
    }
}



/*................ Header..................................*/
#header {
}

.navbar #hemen {
    background-color: #C8FB65;
}

.navbar span {
    color: #05073F;
}

/*................ Header..................................*/

.renk {
    background-color: #05073F;
    margin-top: 8px;
}
/*................ Özellikler..................................*/
.services .title {
    margin-left: 80px;
    margin-top: -35px;
    font-size: 20px;
}

/*................ Özellikler..................................*/


/*................ Bulut..................................*/


@media (max-width:768px) {
    #start {
        padding-bottom: 120px;
    }
}

@media (min-width:769px) {
    .features {
        margin-top: -100px;
    }
}



@media (max-width: 1024px) {
    .features {
        margin-top: -100px;
    }
}



@media (min-width:1025px) {
    .features {
        margin-top: 0px;
    }
}







/*................ Bulut..................................*/



.cta .cta-btn {
    background-color: #05073F;
    width: 300px;
    height: 70px
}






/*................ Kampanya Tablo..................................*/

#kampanya table, th, td {
    border: 1px;
    border-radius: 8px;
    text-align: center;
}


    #kampanya table tr {
        margin-top: 500px;
        border-spacing: 50px;
    }

#kampanya table {
    border-spacing: 5px;
    border-collapse: separate;
    width: 97%;
    margin: auto;
}

    #kampanya table th {
        background-color: #05073F;
    }

    #kampanya table th, tr {
        color: #fff;
    }

#aciklama table th, tr {
    color: black;
}
/*................ Kampanya Tablo..................................*/

/*................ Kampanya2 Tablo..................................*/

#kampanya2 table, th, td {
    border: 1px;
    border-radius: 8px;
    text-align: center;
}


    #kampanya2 table tr {
        margin-top: 500px;
        border-spacing: 50px;
    }

#kampanya2 table {
    border-spacing: 5px;
    border-collapse: separate;
    width: 97%;
    margin: auto;
}

    #kampanya2 table th {
        background-color: #05073F;
    }

    #kampanya2 table th, tr {
        color: #fff;
    }

/*................ Kampanya Tablo..................................*/


/*................ Kampanya Text..................................*/


.kampanya-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
    margin-top: 2%;
}

.kampanya-aciklama p {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.list {
    margin-left: 3%;
}


#images img {
    width: 100%;
}


#aciklama {
    margin-top: 2%;
}
/*................ Kampanya Text..................................*/



.kampanya-btn .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #ef6603;
    background-color: #05073F;
    width: 300px;
    height: 70px
}

.kampanya-btn span {
    color: #fff;
    font-size: 30px;
}

/*................ İletişim Sayfası..................................*/

.text-center {
    text-align: center;
}

.iletisim h2 {
    font-size: 45px;
    color: #05073f;
}


#iletisim-table tr th {
    color: #05073f;
    float: left;
}

#iletisim-table tr {
    border: 1px solid;
    border-color: #f4f8fc;
    border-bottom-color: #05073f;
}


    #iletisim-table tr td {
        color: #05073f;
    }

#social a {
    font-size: 18px;
    display: inline-block;
    background: #ef6603;
    align-items: center;
    color: #fff;
    line-height: 1;
    padding: 5px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}


/*................ İletişim Sayfası..................................*/
#destek {
    margin-top: 5%;
}
/*................ İletişim..................................*/

.contact #telefonlogo {
    margin-top: -75px;
    background-color: #F4F8FC;
}

.contact #form1 {
    margin-top: -52px;
    background-color: #F4F8FC;
}

.contact #emaillogo {
    margin-top: -55px;
    background-color: #F4F8FC;
}

.contact #form2 {
    margin-top: -40px;
    background-color: #F4F8FC;
}

.contact #buton {
    float: right;
}

.contact #iletisim1 {
    margin-top: -65px;
}

.contact #iletisim2 {
    margin-top: -65px;
}

.mailgonder2 {
    margin-top: 5%;
}

#gonder {
    margin-top: -90px;
}



@media screen and (max-width: 992px) {
    .contact #form1 {
        margin-top: -60px;
    }
}

@media screen and (max-width: 992px) {
    .contact #iletisim2 {
        margin-top: 40px;
    }
}



@media screen and (max-width: 768px) {
    .contact #emaillogo {
        margin-top: -85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 769px) {
    #gonder {
        margin-top: 0px;
    }
}


@media screen and (max-width: 992px) {
    .contact #telefonlogo {
        margin-top: -90px;
    }
}

@media screen and (max-width: 992px) {
    .contact #form2 {
        margin-top: -48px;
    }
}



/*................ İletişim..................................*/

@media screen and (max-width: 768px) {
    #kampanya table th {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    #kampanya2 table th {
        font-size: 7px;
    }
}



/*------------------Footer----------------------------*/

/*Map*/
#map{
    border:0;
    width:100%;
    height:270px;
    margin-top:2%;
}


.blog {
    padding: 40px 0 20px 0;
}

    .blog .entry {
        padding: 30px;
        margin-bottom: 60px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

        .blog .entry .entry-img {
            max-height: 440px;
            margin: -30px -30px 20px -30px;
            overflow: hidden;
        }

        .blog .entry .entry-title {
            font-size: 28px;
            font-weight: bold;
            padding: 0;
            margin: 0 0 20px 0;
        }

            .blog .entry .entry-title a {
                color: #111;
                transition: 0.3s;
            }

                .blog .entry .entry-title a:hover {
                    color: #1bbd36;
                }

        .blog .entry .entry-meta {
            margin-bottom: 15px;
            color: #777777;
        }

            .blog .entry .entry-meta ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;
            }

                .blog .entry .entry-meta ul li + li {
                    padding-left: 20px;
                }

            .blog .entry .entry-meta i {
                font-size: 16px;
                margin-right: 8px;
                line-height: 0;
            }

            .blog .entry .entry-meta a {
                color: #847872;
                font-size: 14px;
                display: inline-block;
                line-height: 1;
            }

        .blog .entry .entry-content p {
            line-height: 24px;
        }

        .blog .entry .entry-content .read-more {
            -moz-text-align-last: right;
            text-align-last: right;
        }

            .blog .entry .entry-content .read-more a {
                display: inline-block;
                background: #1bbd36;
                color: #fff;
                padding: 6px 20px;
                transition: 0.3s;
                font-size: 14px;
                border-radius: 4px;
            }

                .blog .entry .entry-content .read-more a:hover {
                    background: #1ed33c;
                }

        .blog .entry .entry-content h3 {
            font-size: 22px;
            margin-top: 30px;
            font-weight: bold;
        }

        .blog .entry .entry-content blockquote {
            overflow: hidden;
            background-color: #fafafa;
            padding: 60px;
            position: relative;
            text-align: center;
            margin: 20px 0;
        }

            .blog .entry .entry-content blockquote p {
                color: #4d4643;
                line-height: 1.6;
                margin-bottom: 0;
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
            }

            .blog .entry .entry-content blockquote::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: #111;
                margin-top: 20px;
                margin-bottom: 20px;
            }

        .blog .entry .entry-footer {
            padding-top: 10px;
            border-top: 1px solid #e6e6e6;
        }

            .blog .entry .entry-footer i {
                color: #5e5e5e;
                display: inline;
            }

            .blog .entry .entry-footer a {
                color: #1e1e1e;
                transition: 0.3s;
            }

                .blog .entry .entry-footer a:hover {
                    color: #1bbd36;
                }

            .blog .entry .entry-footer .cats {
                list-style: none;
                display: inline;
                padding: 0 20px 0 0;
                font-size: 14px;
            }

                .blog .entry .entry-footer .cats li {
                    display: inline-block;
                }

            .blog .entry .entry-footer .tags {
                list-style: none;
                display: inline;
                padding: 0;
                font-size: 14px;
            }

                .blog .entry .entry-footer .tags li {
                    display: inline-block;
                }

                    .blog .entry .entry-footer .tags li + li::before {
                        padding-right: 6px;
                        color: #6c757d;
                        content: ",";
                    }

            .blog .entry .entry-footer .share {
                font-size: 16px;
            }

                .blog .entry .entry-footer .share i {
                    padding-left: 5px;
                }

    .blog .entry-single {
        margin-bottom: 30px;
    }

    .blog .blog-author {
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

        .blog .blog-author img {
            width: 120px;
            margin-right: 20px;
        }

        .blog .blog-author h4 {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 0px;
            padding: 0;
            color: #111;
        }

        .blog .blog-author .social-links {
            margin: 0 10px 10px 0;
        }

            .blog .blog-author .social-links a {
                color: rgba(17, 17, 17, 0.5);
                margin-right: 5px;
            }

        .blog .blog-author p {
            font-style: italic;
            color: #bfb9b6;
        }

    .blog .blog-comments {
        margin-bottom: 30px;
    }

        .blog .blog-comments .comments-count {
            font-weight: bold;
        }

        .blog .blog-comments .comment {
            margin-top: 30px;
            position: relative;
        }

            .blog .blog-comments .comment .comment-img {
                margin-right: 14px;
            }

                .blog .blog-comments .comment .comment-img img {
                    width: 60px;
                }

            .blog .blog-comments .comment h5 {
                font-size: 16px;
                margin-bottom: 2px;
            }

                .blog .blog-comments .comment h5 a {
                    font-weight: bold;
                    color: #4d4643;
                    transition: 0.3s;
                }

                    .blog .blog-comments .comment h5 a:hover {
                        color: #1bbd36;
                    }

                .blog .blog-comments .comment h5 .reply {
                    padding-left: 10px;
                    color: #111;
                }

                    .blog .blog-comments .comment h5 .reply i {
                        font-size: 20px;
                    }

            .blog .blog-comments .comment time {
                display: block;
                font-size: 14px;
                color: #2b2b2b;
                margin-bottom: 5px;
            }

            .blog .blog-comments .comment.comment-reply {
                padding-left: 40px;
            }

        .blog .blog-comments .reply-form {
            margin-top: 30px;
            padding: 30px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        }

            .blog .blog-comments .reply-form h4 {
                font-weight: bold;
                font-size: 22px;
            }

            .blog .blog-comments .reply-form p {
                font-size: 14px;
            }

            .blog .blog-comments .reply-form input {
                border-radius: 4px;
                padding: 10px 10px;
                font-size: 14px;
            }

                .blog .blog-comments .reply-form input:focus {
                    box-shadow: none;
                    border-color: #57e76f;
                }

            .blog .blog-comments .reply-form textarea {
                border-radius: 4px;
                padding: 10px 10px;
                font-size: 14px;
            }

                .blog .blog-comments .reply-form textarea:focus {
                    box-shadow: none;
                    border-color: #57e76f;
                }

            .blog .blog-comments .reply-form .form-group {
                margin-bottom: 25px;
            }

            .blog .blog-comments .reply-form .btn-primary {
                border-radius: 4px;
                padding: 10px 20px;
                border: 0;
                background-color: #111;
            }

                .blog .blog-comments .reply-form .btn-primary:hover {
                    background-color: #1e1e1e;
                }

    .blog .blog-pagination {
        color: #444444;
    }

        .blog .blog-pagination ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .blog .blog-pagination li {
            margin: 0 5px;
            transition: 0.3s;
        }

            .blog .blog-pagination li a {
                color: #111;
                padding: 7px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .blog .blog-pagination li.active, .blog .blog-pagination li:hover {
                background: #1bbd36;
            }

                .blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
                    color: #fff;
                }

    .blog .sidebar {
        padding: 30px;
        margin: 0 0 60px 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

        .blog .sidebar .sidebar-title {
            font-size: 20px;
            font-weight: 700;
            padding: 0 0 0 0;
            margin: 0 0 15px 0;
            color: #111;
            position: relative;
        }

        .blog .sidebar .sidebar-item {
            margin-bottom: 30px;
        }

        .blog .sidebar .search-form form {
            background: #fff;
            border: 1px solid #ddd;
            padding: 3px 10px;
            position: relative;
        }

            .blog .sidebar .search-form form input[type="text"] {
                border: 0;
                padding: 4px;
                border-radius: 4px;
                width: calc(100% - 40px);
            }

            .blog .sidebar .search-form form button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                border: 0;
                background: none;
                font-size: 16px;
                padding: 0 15px;
                margin: -1px;
                background: #1bbd36;
                color: #fff;
                transition: 0.3s;
                border-radius: 0 4px 4px 0;
                line-height: 0;
            }

                .blog .sidebar .search-form form button i {
                    line-height: 0;
                }

                .blog .sidebar .search-form form button:hover {
                    background: #1ecf3b;
                }

        .blog .sidebar .categories ul {
            list-style: none;
            padding: 0;
        }

            .blog .sidebar .categories ul li + li {
                padding-top: 10px;
            }

            .blog .sidebar .categories ul a {
                color: #111;
                transition: 0.3s;
            }

                .blog .sidebar .categories ul a:hover {
                    color: #1bbd36;
                }

                .blog .sidebar .categories ul a span {
                    padding-left: 5px;
                    color: #b4aca8;
                    font-size: 14px;
                }

        .blog .sidebar .recent-posts .post-item + .post-item {
            margin-top: 15px;
        }

        .blog .sidebar .recent-posts img {
            width: 80px;
            float: left;
        }

        .blog .sidebar .recent-posts h4 {
            font-size: 15px;
            margin-left: 95px;
            font-weight: bold;
        }

            .blog .sidebar .recent-posts h4 a {
                color: #111;
                transition: 0.3s;
            }

                .blog .sidebar .recent-posts h4 a:hover {
                    color: #1bbd36;
                }

        .blog .sidebar .recent-posts time {
            display: block;
            margin-left: 95px;
            font-style: italic;
            font-size: 14px;
            color: #b4aca8;
        }

        .blog .sidebar .tags {
            margin-bottom: -10px;
        }

            .blog .sidebar .tags ul {
                list-style: none;
                padding: 0;
            }

                .blog .sidebar .tags ul li {
                    display: inline-block;
                }

                .blog .sidebar .tags ul a {
                    color: #515151;
                    font-size: 14px;
                    padding: 6px 14px;
                    margin: 0 6px 8px 0;
                    border: 1px solid #c4c4c4;
                    display: inline-block;
                    transition: 0.3s;
                }

                    .blog .sidebar .tags ul a:hover {
                        color: #fff;
                        border: 1px solid #1bbd36;
                        background: #1bbd36;
                    }

                    .blog .sidebar .tags ul a span {
                        padding-left: 5px;
                        color: #aaaaaa;
                        font-size: 14px;
                    }
