
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>efaturan & E-Fatura Ücretsiz Dijital Dönüşüm</title>
    <meta name="description" content="efaturan bir Bilsoft kuruluşudur. e-Fatura Ücretsiz dijital dönüşümleriyle firmalar tarafından en çok tercih edilen site; efaturan.com.
efatura, e fatura, e-fatura, e fatura başvuru, e fatura fiyatları, e faturaya geçiş, e fatura sitesi, ücretsiz e fatura, e faturaya geçiş ücretsiz, Ücretsiz e-fatura programı, efatura gib" >
    <meta name="keywords" content="elogo efatura,payflex e fatura, ucretsiz efatura,fatura,
          e-Fatura, e-İrsaliye,e fatura, ücretsiz efatura, efatura başvuru,
          efatura fiyatları, efatura entegratörü,hızlıfatura">
    <meta name="author" content="bilsoft" />
    <meta name="publisher" content="VS 2019" />
    <meta name="google-site-verification" content="JVh-DU2O37fp3_bwGlTwXNI-XayFAcacZ5KwLcawe0E" />
    <!-- Favicons -->
    <link href="~/Content/images/iconlogo.png" rel="icon">
    <link href="~/Content/images/iconlogo.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- Vendor CSS Files -->



    <link href="~/Content/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/Content/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />




    <link href="~/Content/css/toastr.min.css" rel="stylesheet" />


    <!-- Template Main CSS File -->

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <link href="~/Content/css/style2.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196014386-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-196014386-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8LGTPB2FHR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8LGTPB2FHR');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KPQ7WZB');</script>
    <!-- End Google Tag Manager -->

</head>

<body>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/608bf32a5eb20e09cf3817c2/1f4haro27';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPQ7WZB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:bilgi@efaturan.com">bilgi@efaturan.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:+908506110659" class="" style="color:white;">0850 611 06 59</a></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/EFaturan" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/Efaturan-108215778105110" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/efaturan/?hl=tr" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/efaturan/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>
    <!-- ======= Header ======= -->
    <header id="header" style="background-color: #05073F;" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/efatura/Index"><img src="~/Content/images/efaturan _Logo – 2.svg" alt="e fatura logo ömür boyu ücretsiz efatura"></a></h1>


            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/efatura/Index">Anasayfa</a></li>
                    <li><a id="hemen" class="nav-link scrollto active" style="" href="Index#efaturaindir"><span>Hemen İndir</span></a></li>
                    <li><a class="nav-link scrollto" href="/efatura/Index#e-FaturaOzellikleri">Özellikler</a></li>

                    <li><a class="nav-link scrollto" href="/efatura/Kampanyalar">Kampanyalar</a></li>
                    <li><a class="nav-link scrollto" href="/efatura/Index#user">Kullanıcı Yorumları</a></li>
                    <li><a class="nav-link scrollto" href="/efatura/Index#faq">S.S.S</a></li>
                    <li><a class="nav-link scrollto" href="/efatura/Blog">Blog</a></li>
                    <li><a class="nav-link scrollto" href=/efatura/Destek>Destek</a></li>
                    <li><a class="nav-link scrollto" href="/efatura/Iletisim">İletişim</a></li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
    <div>

        @RenderBody()
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="footer-info">
                            <a href="/efatura/Index" class="logo"><img src="~/Content/images/efaturan _Logo – 2.svg" width="300px" alt="e-fatura" class="img-fluid"></a>

                            <p>
                                <br>
                                <strong style="color: #ef6603">Telefon: <a href="tel:+908506110659" class="" style="color:white;">0850 611 06 59 </a></strong><br>
                                <strong style="color: #ef6603">Email: <a href="mailto:bilgi@efaturan.com" class="" style="color:white;">bilgi@efaturan.com </a></strong>
                            </p>

                            <div class="social-links mt-3">
                                <a href="https://twitter.com/EFaturan" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.facebook.com/Efaturan-108215778105110" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/efaturan/?hl=tr" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/efaturan/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Sayfa Linkleri</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Özellikler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Kampanyalar">Kampanyalar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#faq">Sıkça Sorulan Sorular</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Destek">Destek</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Iletisim">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Özellikler</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Raporlama Sistemi</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Stok Takibi Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Cari Kart Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Arşivleme</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/efatura/Index#e-FaturaOzellikleri">Fatura Modülü</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>efaturan</span></strong>. &nbsp; Tüm Hakları Saklıdır.  &nbsp;  efaturan &nbsp;
                <a href="https://www.bilsoft.com/">Bilsoft Yazılım</a> kuruluşudur. &nbsp;<a href="/efatura/KVKK">Çerez Politikası</a>
            </div>

        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/glightbox.min.js"></script>
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/swiper-bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    </script>
    <script>
        const mediaQuery = window.matchMedia('( min-width: 1024 )')
        if (mediaQuery.matches) {
            console.log('Media Query Matched!')
        }
    </script>
    @RenderSection("MailScript", false)
    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

</body>

</html>
