*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
body
{
	
	min-height: 100%;
}
.start
{
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.start::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	
	z-index: 10000;	
}
.start::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 10000;	
	mix-blend-mode: color;
}
.start img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	
	object-fit: cover;
	pointer-events: none;
}
#text
{
	margin-top: -350px;
	position: relative;
	color: #E24C00;
	font-size: 4em;
	z-index: 1;
}
@media screen and (max-width: 768px) {
    #start  {
        width: 100%;
        height: 100%;
    }